In [1]:
import pandas as pd

In [2]:
mpg = pd.read_csv("C:/Users/samsung/Desktop/datasets/mpg.csv")

In [4]:
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

append

In [5]:
a = mpg.model
b = mpg.displ

In [6]:
a.append(b) # 시리즈 a와 b를 연결해 출력

C:\Users\samsung\AppData\Local\Temp\ipykernel_28260\2735396570.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  a.append(b)

0       a4
1       a4
2       a4
3       a4
4       a4
      ...
229    2.0
230    2.0
231    2.8
232    2.8
233    3.6
Length: 468, dtype: object

describe

In [7]:
mpg.displ.describe()
# 시리즈의 요약통계 출력
# 수치형 데이터만 가능하며, 평균, 중앙값, 최솟값, 최댓값 등을 확인할 수 있음

count    234.000000
mean       3.471795
std        1.291959
min        1.600000
25%        2.400000
50%        3.300000
75%        4.600000
max        7.000000
Name: displ, dtype: float64

drop_duplicates()

In [9]:
mpg.manufacturer.drop_duplicates()
# 시리즈에서 중복된 값을 제외하고 추출
# 중복되는 값 중 가장 첫 번째에 위치한 값만 추출

0            audi
18      chevrolet
37          dodge
74           ford
99          honda
108       hyundai
122          jeep
130    land rover
134       lincoln
137       mercury
141        nissan
154       pontiac
159        subaru
173        toyota
207    volkswagen
Name: manufacturer, dtype: object

get_values()

In [36]:
mpg.model.get_values() # 시리즈에서 get_values 함수를 지원하지 않는다는 오류 발생

AttributeError: 'Series' object has no attribute 'get_values'

In [37]:
mpg.model.to_numpy()
# to_numpy()를 활용해 시리즈의 값을 배열 형태로 반환

array(['a4', 'a4', 'a4', 'a4', 'a4', 'a4', 'a4', 'a4 quattro',
       'a4 quattro', 'a4 quattro', 'a4 quattro', 'a4 quattro',
       'a4 quattro', 'a4 quattro', 'a4 quattro', 'a6 quattro',
       'a6 quattro', 'a6 quattro', 'c1500 suburban 2wd',
       'c1500 suburban 2wd', 'c1500 suburban 2wd', 'c1500 suburban 2wd',
       'c1500 suburban 2wd', 'corvette', 'corvette', 'corvette',
       'corvette', 'corvette', 'k1500 tahoe 4wd', 'k1500 tahoe 4wd',
       'k1500 tahoe 4wd', 'k1500 tahoe 4wd', 'malibu', 'malibu', 'malibu',
       'malibu', 'malibu', 'caravan 2wd', 'caravan 2wd', 'caravan 2wd',
       'caravan 2wd', 'caravan 2wd', 'caravan 2wd', 'caravan 2wd',
       'caravan 2wd', 'caravan 2wd', 'caravan 2wd', 'caravan 2wd',
       'dakota pickup 4wd', 'dakota pickup 4wd', 'dakota pickup 4wd',
       'dakota pickup 4wd', 'dakota pickup 4wd', 'dakota pickup 4wd',
       'dakota pickup 4wd', 'dakota pickup 4wd', 'dakota pickup 4wd',
       'durango 4wd', 'durango 4wd', 'durango 4wd', 'durango 4wd',
       'durango 4wd', 'durango 4wd', 'durango 4wd', 'ram 1500 pickup 4wd',
       'ram 1500 pickup 4wd', 'ram 1500 pickup 4wd',
       'ram 1500 pickup 4wd', 'ram 1500 pickup 4wd',
       'ram 1500 pickup 4wd', 'ram 1500 pickup 4wd',
       'ram 1500 pickup 4wd', 'ram 1500 pickup 4wd',
       'ram 1500 pickup 4wd', 'expedition 2wd', 'expedition 2wd',
       'expedition 2wd', 'explorer 4wd', 'explorer 4wd', 'explorer 4wd',
       'explorer 4wd', 'explorer 4wd', 'explorer 4wd', 'f150 pickup 4wd',
       'f150 pickup 4wd', 'f150 pickup 4wd', 'f150 pickup 4wd',
       'f150 pickup 4wd', 'f150 pickup 4wd', 'f150 pickup 4wd', 'mustang',
       'mustang', 'mustang', 'mustang', 'mustang', 'mustang', 'mustang',
       'mustang', 'mustang', 'civic', 'civic', 'civic', 'civic', 'civic',
       'civic', 'civic', 'civic', 'civic', 'sonata', 'sonata', 'sonata',
       'sonata', 'sonata', 'sonata', 'sonata', 'tiburon', 'tiburon',
       'tiburon', 'tiburon', 'tiburon', 'tiburon', 'tiburon',
       'grand cherokee 4wd', 'grand cherokee 4wd', 'grand cherokee 4wd',
       'grand cherokee 4wd', 'grand cherokee 4wd', 'grand cherokee 4wd',
       'grand cherokee 4wd', 'grand cherokee 4wd', 'range rover',
       'range rover', 'range rover', 'range rover', 'navigator 2wd',
       'navigator 2wd', 'navigator 2wd', 'mountaineer 4wd',
       'mountaineer 4wd', 'mountaineer 4wd', 'mountaineer 4wd', 'altima',
       'altima', 'altima', 'altima', 'altima', 'altima', 'maxima',
       'maxima', 'maxima', 'pathfinder 4wd', 'pathfinder 4wd',
       'pathfinder 4wd', 'pathfinder 4wd', 'grand prix', 'grand prix',
       'grand prix', 'grand prix', 'grand prix', 'forester awd',
       'forester awd', 'forester awd', 'forester awd', 'forester awd',
       'forester awd', 'impreza awd', 'impreza awd', 'impreza awd',
       'impreza awd', 'impreza awd', 'impreza awd', 'impreza awd',
       'impreza awd', '4runner 4wd', '4runner 4wd', '4runner 4wd',
       '4runner 4wd', '4runner 4wd', '4runner 4wd', 'camry', 'camry',
       'camry', 'camry', 'camry', 'camry', 'camry', 'camry solara',
       'camry solara', 'camry solara', 'camry solara', 'camry solara',
       'camry solara', 'camry solara', 'corolla', 'corolla', 'corolla',
       'corolla', 'corolla', 'land cruiser wagon 4wd',
       'land cruiser wagon 4wd', 'toyota tacoma 4wd', 'toyota tacoma 4wd',
       'toyota tacoma 4wd', 'toyota tacoma 4wd', 'toyota tacoma 4wd',
       'toyota tacoma 4wd', 'toyota tacoma 4wd', 'gti', 'gti', 'gti',
       'gti', 'gti', 'jetta', 'jetta', 'jetta', 'jetta', 'jetta', 'jetta',
       'jetta', 'jetta', 'jetta', 'new beetle', 'new beetle',
       'new beetle', 'new beetle', 'new beetle', 'new beetle', 'passat',
       'passat', 'passat', 'passat', 'passat', 'passat', 'passat'],
      dtype=object)

isin

In [20]:
mpg['class'].isin(['compact'])
# 시리즈에 특정 값이 있는지 확인 (확인하고자 하는 값을 리스트 형태로 입력)
# 값이 있는 경우 True, 없는 경우 False 반환

0       True
1       True
2       True
3       True
4       True
       ...
229    False
230    False
231    False
232    False
233    False
Name: class, Length: 234, dtype: bool

mean

In [28]:
print(mpg['hwy'].mean()) # 시리즈의 평균 계산
print(mpg['hwy'].max()) # 시리즈의 최댓값 계산
print(mpg['hwy'].min()) # 시리즈의 최솟값 계산
print(mpg['hwy'].median()) # 시리즈의 중앙값 계산

23.44017094017094
44
12
24.0

equals

In [27]:
mpg['cty'].equals(['hwy'])
# 시리즈가 동일한지 판단해 True/False 반환

False

sort_values()

In [29]:
mpg.cyl.sort_values()
# 시리즈의 값 정렬
# ascending = True (오름차순)이 디폴트

0      4
171    4
170    4
169    4
168    4
      ..
60     8
59     8
58     8
25     8
71     8
Name: cyl, Length: 234, dtype: int64

In [31]:
mpg.cyl.sort_values(ascending = False) # 내림차순 정렬

53     8
136    8
56     8
55     8
54     8
      ..
144    4
143    4
142    4
141    4
117    4
Name: cyl, Length: 234, dtype: int64

to_frame()

In [33]:
mpg.model.to_frame()
# 시리즈를 데이터프레임 형태로 변환
# 컬럼이 1개임에도 데이터프레임 형태로 출력 가능

      model
0        a4
1        a4
2        a4
3        a4
4        a4
..      ...
229  passat
230  passat
231  passat
232  passat
233  passat

[234 rows x 1 columns]